@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@layer components {
    .btn-carousel {
      @apply size-16 text-xl bg-brand-500 z-20 font-extrabold hover:bg-brand-300
    }
  }